*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    
main{
    height: 94vh;
    width: 100%;
    padding: 10px;
    background-color: rgb(178, 199, 209);
    display: flex; 
}

.container{
    height: 100vh;
    width: 100vw;
    padding: 15px;
}

.title{
    text-align: center;
}


.cards {
    display: flex;
    padding: 15px;
    gap: 16px;
    width: 98%;
}

/* Responsividade para telas menores */
/* @media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 16px); 
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 100%; 
    }
} */

.card-title{
    text-align: center;
}

.hidden {
    display: none;
}

.footer{
    height: 8vh;
    background: #23232e;
}