<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form class="form" action="/login" method="POST">
            <label for="username">Nome:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>

            <button class="btnEnter" action="/" type="submit">Entrar</button>
            
        </form>
        <div class="divBtn">
            <button class="btnCreate" action="/create_user" type="submit">Criar conta</button>
        </div>   
    </div>
</body>
</html>
